<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
    <title>SVG Animation</title>
</head>
<body>

    <!-- Custom SVG Banner -->
  <svg xmlns="http://www.w3.org/2000/svg" style="background-color:black" width="100%" height="300" viewBox="0 0 300 30">
    <!-- Circle -->
    <circle cx="250" cy="10" r="15" fill="red" stroke="white"/>
    <!-- Rectangle -->
    <rect x="100" y="13" width="32" height="5" fill="blue" stroke="white"/>
    <!-- Polygon -->
    <polygon points="40,5 45,15 35,15" fill="green" style="stroke:white;stroke-width:0.8"/>
    <!-- Text -->
    <text fill="white" x="100" y="10" rotate="20">
      Hello
    </text>
  </svg>

  <!-- Navigation Menu -->
  <nav class="menu">
    <ul>
      <li><a href="./index.html">Home</a></li>
      <li><a href="./views/Two.html">Page Two</a></li>
      <li><a href="./views/Three.html">Page Three</a></li>
    </ul>
  </nav>

  <h1>
    SVG Animation is easy!
  </h1>
<img 
src="../resources/page-three.svg" 
alt="SVG Animation"
height="100"
width="100"
/>

</body>
</html>
