<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
    <title>My Favorite Coding Recources</title>
</head>

<body>

    <!-- Custom SVG Banner -->
  <svg xmlns="http://www.w3.org/2000/svg" style="background-color:black" width="100%" height="300" viewBox="0 0 300 30">
    <!-- Circle -->
    <circle cx="250" cy="10" r="15" fill="red" stroke="white"/>
    <!-- Rectangle -->
    <rect x="100" y="13" width="32" height="5" fill="blue" stroke="white"/>
    <!-- Polygon -->
    <polygon points="40,5 45,15 35,15" fill="green" style="stroke:white;stroke-width:0.8"/>
    <!-- Text -->
    <text fill="white" x="100" y="10" rotate="20">
      Hello
    </text>
  </svg>


    <!-- Navigation Menu -->
    <nav>
        <!-- Your navigation menu content goes here -->
        <ul>
            <li><a href="..//index.html">Home</a></li>
            <li><a href="Two.html">Page Two</a></li>
            <li><a href="Three.html">Page Three</a></li>
        </ul>
    </nav>

    <!-- Page Heading -->
    <h1>Favorite Coding Resources</h1>

     <!-- Table Section -->
     <table>
      <!-- Table Caption -->
      <caption>Top Three Coding Resources</caption>
      
      <!-- Table Heading Row -->
      <thead>
          <tr>
              <th>Resource</th>
              <th>Description</th>
          </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
          <!-- First Row -->
          <tr>
              <td>LeetCode</td>
              <td>A platform where people can go to, to solve challenge problems using code</td>
          </tr>

          <!-- Second Row -->
          <tr>
              <td>Udemy</td>
              <td>An online school made for professors to post courses</td>
          </tr>

          <!-- Third Row -->
          <tr>
              <td>Youtube</td>
              <td>An online platform for people to post and upload videos on</td>
          </tr>
      </tbody>
  </table>


</body>

</html>
